<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trang chủ</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <p>
        <header>
            <br class="container">
                <div id="brandname">
                    Kiểm tra SMS Messages của bạn tại đây
                </div>
                </br>
                <h2>Lập trình hệ thống | Giảng viên: Nguyễn Văn Vịnh</h2>
            </div>
        </header>
        <div class="ml-container">
            <form action="{{ url_for('predict')}}" method="POST">

                <h4>Nhập "SMS Message"</h4>

                <textarea name="message" rows="4" cols="50"></textarea><br/>

                <input type="submit" class="btn-info" value="Kiểm tra">

            </form>
        </div>
    </body>
</html>
